@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    overscroll-behavior-y: contain;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-spinner {
    -moz-appearance: textfield;
}
/* Esconder scrollbars para uma UI mais limpa */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
